<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycarisyours">
    <!-- permission pour acceder a internet -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- les permissions pour la camera et pour le stockage extern -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activites.ConfirmerActivity"></activity>
        <activity android:name=".activites.DebutActivity" />
        <activity android:name=".activites.AjouterPhotoActivity" />
        <activity android:name=".activites.AjoutoitureLastActivity" />
        <activity android:name=".activites.AjoutVoitureSuitActivity" />
        <activity
            android:name=".activites.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activites.AccueilActivity" />
        <activity android:name=".activites.SigupActivity" />
        <activity android:name=".activites.MapActivity" />
        <activity android:name=".activites.ChoixActivity" />
        <activity android:name=".activites.AjouterVoitureActivity" />
    </application>

</manifest>